n8n-image/echo.json
{
  "name": "Hello World Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "echo",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "hello-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Echo back the input from Lambda event\nconst input = $input.first().json;\nconst lambdaEvent = input.body ? JSON.parse(input.body) : input;\n\n// Extract message from different possible locations\nconst message = lambdaEvent.body?.input || lambdaEvent.input || lambdaEvent.message || JSON.stringify(lambdaEvent);\n\nreturn [{\n  json: {\n    response: `Hello! You said: ${message}`,\n    timestamp: new Date().toISOString(),\n    webhook_path: '/echo',\n    original_input: lambdaEvent\n  }\n}];"
      },
      "id": "code-node",
      "name": "Hello World Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Hello World Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hello World Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "echo"
}